In [ ]:
pip install pandas

In [21]:
import pandas as pd

In [45]:
#read the csv file using pd.read_csv
dataframe_travel = pd.read_csv("dataframe_travel.csv")
print (dataframe_travel)

    Unnamed: 0      Places  Score  Avg hotel star rating  \
0            1     Vietnam     10                      5
1            2   Argentina     10                      3
2            3  New Zeland      7                      5
3            4       Japan      8                      5
4            5  Madagascar      6                      4
5            6    Colombia      5                      3
6            7      Brazil      9                      3
7            8       Egypt      4                      2
8            9        Peru      7                      2
9           10    Thailand      5                      4
10          11      Turkey      7                      3
11          12     Marroco      3                      2
12          13      Poland      2                      2
13          14     Argelia      2                      2
14          15     Hungary      8                      4

    All inclusive hotels Most visited city in each destination
0                     20                           Ho Chi Minh
1                     30                          Buenos Aires
2                     20                              Auckland
3                     18                                 Tokyo
4                     18                          Antananarivo
5                     15                                Bogota
6                     30                        Rio de Janeiro
7                     17                                 Cairo
8                     10                                  Lima
9                      8                               Bangkok
10                    13                              Istanbul
11                    10                             Marrakesh
12                    11                                Warsaw
13                    12                               Algiers
14                     9                              Budapest

In [46]:
#How many rows and columns are there in your file?
data = pd.read_csv("dataframe_travel.csv")
data.shape

(15, 6)

In [47]:
#Print row 3-8 ( using iloc/loc).
dataframe_travel = pd.read_csv("dataframe_travel.csv")
print(dataframe_travel[3:9])

   Unnamed: 0      Places  Score  Avg hotel star rating  All inclusive hotels  \
3           4       Japan      8                      5                    18
4           5  Madagascar      6                      4                    18
5           6    Colombia      5                      3                    15
6           7      Brazil      9                      3                    30
7           8       Egypt      4                      2                    17
8           9        Peru      7                      2                    10

  Most visited city in each destination
3                                 Tokyo
4                          Antananarivo
5                                Bogota
6                        Rio de Janeiro
7                                 Cairo
8                                  Lima

In [48]:
#Find the mean number of all-inclusive hotels across all destinations.
dataframe_travel = pd.read_csv("dataframe_travel.csv")
dataframe_travel["All inclusive hotels"].mean()

16.066666666666666

In [49]:
#Find the lowest scoring destination.
dataframe_travel = pd.read_csv("dataframe_travel.csv")
dataframe_travel["All inclusive hotels"].min()

8

In [50]:
#Find the highest scoring destination.
dataframe_travel = pd.read_csv("dataframe_travel.csv")
dataframe_travel["All inclusive hotels"].max()

30

In [51]:
#Find all the destinations where there are more than 9 all-inclusive hotels. 
#dataframe_travel = pd.read_csv("dataframe_travel.csv")

myfilter = dataframe_travel["All inclusive hotels"]>15
dataframe_travel[myfilter]

,Unnamed: 0,Places,Score,Avg hotel star rating,All inclusive hotels,Most visited city in each destination
0,1,Vietnam,10,5,20,Ho Chi Minh
1,2,Argentina,10,3,30,Buenos Aires
2,3,New Zeland,7,5,20,Auckland
3,4,Japan,8,5,18,Tokyo
4,5,Madagascar,6,4,18,Antananarivo
6,7,Brazil,9,3,30,Rio de Janeiro
7,8,Egypt,4,2,17,Cairo

In [52]:
#Filter the data by score above 8. 

myfilter2 = dataframe_travel["All inclusive hotels"]>8
dataframe_travel[myfilter2]

,Unnamed: 0,Places,Score,Avg hotel star rating,All inclusive hotels,Most visited city in each destination
0,1,Vietnam,10,5,20,Ho Chi Minh
1,2,Argentina,10,3,30,Buenos Aires
2,3,New Zeland,7,5,20,Auckland
3,4,Japan,8,5,18,Tokyo
4,5,Madagascar,6,4,18,Antananarivo
5,6,Colombia,5,3,15,Bogota
6,7,Brazil,9,3,30,Rio de Janeiro
7,8,Egypt,4,2,17,Cairo
8,9,Peru,7,2,10,Lima
10,11,Turkey,7,3,13,Istanbul
11,12,Marroco,3,2,10,Marrakesh
12,13,Poland,2,2,11,Warsaw
13,14,Argelia,2,2,12,Algiers
14,15,Hungary,8,4,9,Budapest

In [53]:
#8. Filter the data score below 2 ( I need to know if these destinations should be removed or there is a problem)
myfilter3 = dataframe_travel["All inclusive hotels"]<2
dataframe_travel[myfilter3]

Empty DataFrame
Columns: [Unnamed: 0, Places, Score, Avg hotel star rating, All inclusive hotels, Most visited city in each destination]
Index: []

In [ ]:
#create data

inventory = {"Places": ["Vietnam", "Argentina", "New Zeland", "Japan", "Madagascar", 
                          "Colombia", "Brazil", "Egypt", "Peru", "Thailand", "Turkey", "Morrocco", "Poland", "Argelia", 
                          "Hungary"],
            "Score": [10,10,7,8,6,5,9,4,7,5,7,3,2,2,8],
            "Avg hotel star rating": [5,3,5,5,4,3,3,2,2,4,3,2,2,2,4],
            "All inclusive hotels": [20,30,20,18,18,15,30,17,10,8,13,10,11,12,9],
            "Most visited city in each destination": ["Ho Chi Minh", "Buenos Aires", "Auckand", "Tokyo", "Antananarivo", 
            "Bogota", "Rio de Janeiro", "Cairo", "Lima", "Bangkok", "Istanbul", "Marrakesh", "Warsaw", "Argiers", "Budapest"]}

#Create variable. Remember the capitals both D & F
myframe = pd.DataFrame(inventory)

# print variable
print(myframe)